<!DOCTYPE html>
<html>
<head>
    <title>Orbitar Global Feed Posts</title>
</head>
<body>
    {% if posts %}
        <h1>Глобальная лента постов</h1>
        <!-- <p> {{ posts }}</p> -->
        <ul>
            {% for post in posts %}
                <li>
                    <!-- <h2>{{ post }}</h2> -->
                    <p>{{ post.title }}</p>
                    <p>Дата публикации: {{ post.created }}</p>
                    <p>Подорбита: {{ post.sub_orbit }}</p>                    
                    <p>Комментарии: {{ post.comments }}</p>
                    <p>Рейтинг: {{ post.rating }}</p>
                </li>
            {% endfor %}
        </ul>
    {% elif error %}
        <p>{{ error }}</p>
    {% else %}
        <p>Загрузка...</p>
    {% endif %}
</body>
</html>