{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!DOCTYPE html>
<html>
<head>
    <title>Orbitar Random Post</title>
</head>
<body>
    <a href="{% url 'probe_app:orbitar_all_feed_posts' %}">На сортировочную.</a>
    <button type="button" id="reload-random-post">Ещё один случайный пост</button>
    <div id="random-post-container">
        


    {% if post %}
        <h1>Ура! Случайный пост!</h1>
        <li class="post">
            <a href="{{ post.link }}">    LINK</a>
            <p>POST ID: <b>{{ post.post_id }}</b></p>
            <p>Заголовок: <b>{{ post.title }}</b></p>
            <p>Дата публикации: <b>{{ post.created }}</b></p>
            <p>Подорбита: <b>{{ post.sub_orb }}</b></p>
            <p>Рейтинг: <b>{{ post.rating }}</b></p><br>
            {{ post.content |safe }}
        </li>
    {% elif error %}
        <p>{{ error }}</p>
    {% else %}
        <p>Загрузка...</p>
    {% endif %}
</div>
<script>
    document.getElementById('reload-random-post').addEventListener('click', function() {
        location.reload(); // Перезагружаем текущую страницу
    });
</script>
</body>
</html>