{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Случайный пост | Orbitar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="header">
        <h1>Случайный пост</h1>
    </header>

    <div class="controls">
        <a href="{% url 'probe_app:orbitar_all_feed_posts' %}" class="button secondary-button">Вернуться к ленте</a>
        <button type="button" id="reload-random-post" class="button">Ещё один случайный пост</button>
    </div>

    <main class="content">
        <div id="random-post-container">
            {% if post %}
                <div class="post-item">
                    <h2 class="post-title"><a href="{{ post.link }}" class="post-link">{{ post.title }}</a></h2>
                    <div class="post-meta">
                        <span class="meta-item">ID: <b>{{ post.post_id }}</b></span>
                        <span class="meta-item">Дата публикации: <b>{{ post.created }}</b></span>
                        <span class="meta-item">Подорбита: <b>{{ post.sub_orb }}</b></span>
                        <span class="meta-item">Рейтинг: <b>{{ post.rating }}</b></span>
                    </div>
                    <div class="post-content">
                        {{ post.content |safe }}
                    </div>
                </div>
            {% elif error %}
                <div class="error-message">{{ error }}</div>
            {% else %}
                <div class="loading-message">Загрузка случайного поста...</div>
            {% endif %}
        </div>
    </main>

    <footer class="footer">
        <p>&copy; Orbitar Global Feed</p>
    </footer>

    <script>
        document.getElementById('reload-random-post').addEventListener('click', function() {
            location.reload(); // Перезагружаем текущую страницу
        });
    </script>
</body>
</html>